body{
  padding: 0px;
  margin: 0px;
}

.dibu {
  text-align: center;
  background-color: #d6dfea;
  padding: 0.5em;
  font-size: 0.8em;
}

.info{
  color: #b6b6b6;
}

a {
  text-decoration: none;
  color: #1d5494;
}

a:hover {
  text-decoration: underline;
}

/*
  头部样式设置，头部的两个区块要左右分散
*/
header {
  /* 左右布局 */
  display: flex;
  justify-content: space-between;
  /* 背景颜色 */
  background-color: #eff4fa;
  /* 下边框 */
  border-bottom: 1px solid #d6dfea;
  /* 内边距 */
  padding: 1rem 2rem;
  /* align-items表示压力布局中的子元素的垂直对齐方式，center是居中 */
  align-items: center;
  /* 字体颜色 */
  color: #b6b6b6;
  /* 字体大小 */
  font-size: 0.8em;
} 

/* 固定位置定位 */
footer {
  /* 固定在最下方 */
  position: fixed;
  bottom: 0px;
  /* fixed定位会丢失宽度，需要指定宽度 */
  width: 100%;
}

/* 中间区域是左右两块，都是整体居中 */
main {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

/* 中间区域左边模块样式 */
.main-left {
  margin-right: 4rem;
}